# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.vscode/
saves/
# Javadoc and documentation files
*.html
*.js
*.css
*.svg
element-list
index-files/
game/
help-doc.html
member-search-index.js
module-search-index.js
overview-summary.html
overview-tree.html
package-search-index.js
script.js
search-page.js
search.html
search.js
serialized-form.html
stylesheet.css
tag-search-index.js
type-search-index.js